# VITE_SUPABASE_URL=https://your-project-ref.supabase.co
# VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_SUPABASE_URL=https://wiplvypadgnauwwpxcxi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_kDSxkUMVh8nC2aLZN3wj-Q_CjlohNNe